*{
    font-family:"arial" ,sans-serif
}
body{
    background:rgb(241, 241, 241)
}
h1{
    text-align:center;
    margin:0rem 0rem 1rem 0rem;
}
.row1{
    display:flex;
    align-items:center;
    flex-direction:column
}
.row2{
    display:flex;
    align-items:center;
    flex-direction:column
}
.row3{
    display:flex;
    align-items:center;
    flex-direction:column
}
input{
    width:32rem;
    height:40px;
    padding:0px 10px;
    border-radius:4px;
    border:1px solid gray;
    font-size:16px;
    box-shadow:none;
    transition:box-shadow 0.2s ease-in-out; 
}
input:focus{
    outline:none;
    box-shadow: 0 0 0 4px #e5e7eb;

}
input[type="date"] {
    width:32rem;
    height:40px;
    padding:0px 10px;
    border-radius:4px;
    border:1px solid gray;
    font-size:16px;
    box-shadow:none;
    transition:box-shadow 0.2s ease-in-out; 
}
input[type="date"]:focus {
    outline:none;
    box-shadow: 0 0 0 4px #e5e7eb;

}
select{
    width:33rem;
    height:40px;
    padding:0px 10px;
    border-radius:4px;
    font-size:16px;
    box-shadow:none;
    transition:box-shadow 0.2s ease-in-out; 
}
select:focus{
    outline:none;
    box-shadow: 0 0 0 4px #e5e7eb;
}
textarea{
    resize:none;
    height:6rem;    
    padding:5px 10px;
    font-size:16px;
    box-shadow:none;
    transition:box-shadow 0.2s ease-in-out; 
    border-radius:6px
}
textarea:focus{
    outline:none;
    box-shadow: 0 0 0 4px #e5e7eb;

}
.submit-btn{
    display:flex;
    justify-content:end;
    margin:20px 10px;
}
button{
    padding:12px 28px;
    font-size:16px;
    border-radius:6px;
    border:1px solid black;
    background: transparent;
    color:black;
    cursor:pointer; 
    transition: background 0.2s; 
    width:100%;
    margin:1.4rem 0px
}
button:hover{
    background: #f3f4f6
}
.contact-form{
    background: rgb(252, 252, 252);
    padding:2rem 4rem;
    border-radius:1rem;
    box-shadow: 0  4px 8px rgba(0, 0, 0, 0.1);
}